<div id="athlete-board" class="">
    <div ng-if="!abc.trainingChosen">
        <div>
            Available trainings:
        </div>
        <div class="list-group">
            <span ng-repeat="training in abc.trainings" ng-click="abc.train(training)" class="list-group-item pointer-on-hover">{{training.getName()}}</span>
        </div>
    </div>
    <div ng-if="abc.trainingChosen && !abc.trainingStarted" class="">
        <div>
            <training-directive training="abc.currentTraining" is-edited="false"></training-directive>
        </div>
        <button id="button-back-to-list" ng-click="abc.backToList()" class="btn btn-default pull-left">Back to list</button>
        <button id="button-start-training" ng-click="abc.startTraning()" class="btn btn-warning pull-right">Start training!</button>
    </div>

    <div class="panel-body" ng-if="abc.trainingStarted">
        <perform-training-directive training="abc.currentTraining" finish="abc.onTrainingFinish(training, timings)"></perform-training-directive>
    </div>
</div>