.sidebar {
    margin-right: 30px;
}

.green {
    color: lawngreen
}

.red {
    color: red
}

.well {
    background-color: white;
}

.label-default {
    background-color: orange;
}

.input-group-addon {
    background-color: white;
}

.exercise-plan {
    max-width: 300px;
    background-color: white;
}

.exercise-card {
    max-width: 300px;
    background-color: white;
}

.exercise-plan-reps-input {
    max-width: 80px;
}

.exercise-plan-kilograms-input {
    max-width: 80px;
}

.exercise-plan-title {
    font-size: 16px;
}

.exercise-card-muscle-label {
    margin-right: 3px;
    margin-top: 3px;
}

.exercise-plan-set-label {
    width: 20px;
}

.exercise-plan-icon {
    margin-top: 7px;
}

.pointer-on-hover:hover {
    cursor: pointer;
}

.exercise-plan-icons-block {
    padding-left: 0px;
    padding-right: 0px;
}

.exercise-plan-icon-remove {
    font-size: 22px;
    padding-right: 0px;
}

.row-padding {
    padding-bottom: 13px;
}

.row-small-padding {
    padding-bottom: 6px;
}

.exercise-well {
    padding-bottom: 5px;
    padding-top: 5px;
}