* {
  border-radius: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.sidebar {
    margin-right: 30px;
}

.border-right-dotted {
    border-right: dotted;
}

.green {
    color: lawngreen
}

.orange {
    color: orange
}

.red {
    color: red
}

.height-24 {
    height: 24px;
}

.well {
    background-color: white;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;

}

.padding-right-6 {
    padding-right: 6px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-left-3 {
    padding-left: 3px;
}

.margin-left-right-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.label-default {
    background-color: orange;
}

.input-group-addon {
    background-color: white;
}

.exercise-plan {
    max-width: 300px;
    background-color: white;
}

.exercise-card {
    max-width: 300px;
    background-color: white;
}

.exercise-plan-reps-input {
    max-width: 80px;
}

.exercise-plan-kilograms-input {
    max-width: 80px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-8 {
    font-size: 8px;
}

table {
    font-size: 12px;
    border-bottom: 1px solid;
    border-bottom-color: lightgrey;
    padding: 5px;
}

td, th {
    padding: 5px;
    font-weight: normal;
    text-align: center;
}

.exercise-plan-title {
    font-size: 16px;
}

.exercise-card-muscle-label {
    margin-right: 3px;
    margin-top: 3px;
    background-color: rgb(204, 204, 204);
}

.exercise-plan-set-label {
    width: 20px;
}

.exercise-plan-icon {
    margin-top: 6px;
}

.input-group-addon:first-child {
    border-radius: 2px;
}

.input-group-addon:last-child {
    border-radius: 2px;
}

.input-group-addon {
    border-color: white;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 20px;
    margin-top: 5px;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

padding-left-24 {
    padding-left: 24px;
}

.padding-right-8 {
    padding-right: 8px;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 2px;
}

.pointer-on-hover:hover {
    cursor: pointer;
}

.exercise-plan-icons-block {
    padding-left: 0px;
    padding-right: 0px;
}

.exercise-plan-icon-remove {
    font-size: 22px;
    padding-right: 0px;
}

.no-padding {
    padding: 0px;
}

.top-padding-10 {
    padding: 10px;
}

.top-padding-7 {
    padding: 7px;
}

.row-padding {
    padding-bottom: 13px;
}

.margin-top-3 {
    margin-top: 3px;
}

.row-padding-3 {
    padding-bottom: 3px;
}

.row-small-padding {
    padding-bottom: 6px;
}

.exercise-well {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 10px;
}
.sidebar-button {
    color: slategray;
    background-color: white;
    margin-bottom: 8px;
    border-width: 1px;
    font-size: 24px;
    border-left-width: 0px;
    border-right-width: 4px;
    border-style: solid;
    border-color: rgba(255, 180, 0, 1);
}

.panel-custom {
    border-color: #ffb400;
    color: slategray;
    background-color: white;
    border-left-width: 3px;
    border-top-color: #ffb400;
}

.panel-custom > .panel-heading-custom {
    color: slategray;
    background-color: rgba(255, 180, 0, 0);
    border-color: white;
}

.sidebar-button:hover {
    color: slategray;
}

.the-color {
    background-color: rgba(255, 180, 0, 1)
}

.btn:focus,.btn:active {
   outline: none !important;
}