<div id="training-stats-directive" class="panel panel-success">
    <div class="panel-heading">Training stats options</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Tonnage:</label>
                <div class="col-sm-2">
                    <select id="tonnage-dropdown" ng-model="selectedTonnage">
                        <option id="tonnage-dropdown-{{tonnage}}" ng-repeat="tonnage in options.tonnages" value="{{tonnage}}">{{tonnage}}</option>
                    </select>
                </div> 
            </div>
        </form>
    </div>
</div>

<button id="button-generate-stats" ng-click="generateStats()" class="btn btn-lg">Generate stats</button>