<div id="athlete-data" class="panel panel-success">
    <div class="panel-heading">My data</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button id="edit-button" ng-click="adc.edit()" ng-if="!adc.editMode" class="btn btn-warning pull-right">Edit</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control pull-left" id="email" ng-model="adc.data.email" placeholder="Enter email" ng-readonly="!adc.editMode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control pull-left" id="pwd" ng-model="adc.data.password" placeholder="Enter password" ng-readonly="!adc.editMode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">First name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control pull-left" id="first-name" ng-model="adc.data.firstName" placeholder="Enter first name" ng-readonly="!adc.editMode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Last name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control pull-left" id="last-name" ng-model="adc.data.lastName" placeholder="Enter last name" ng-readonly="!adc.editMode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Weight:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control pull-left" id="weight" ng-model="adc.data.weight" placeholder="Enter weight" ng-readonly="!adc.editMode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Height:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control pull-left" id="height" ng-model="adc.data.height" placeholder="Enter height" ng-readonly="!adc.editMode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Age:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control pull-left" id="age" ng-model="adc.data.age" placeholder="Enter age" ng-readonly="!adc.editMode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Gender:</label>
                <div class="col-sm-8 top-padding-7">
                    <label>
                        <input id="gender-male" type="radio" ng-model="adc.data.gender" value="male" ng-disabled="!adc.editMode">
                        Male
                    </label>
                    <label>
                        <input id="gender-female" type="radio" ng-model="adc.data.gender" value="female" ng-disabled="!adc.editMode">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4" ng-if="adc.editMode">
                    <button id="save-button" ng-click="adc.save()" class="btn btn-success pull-right">Save</button>
                    <button id="discard-button" ng-click="adc.discard()" class="btn btn-warning pull-right">Discard</button>
                </div>
            </div>
        </form>
    </div>
</div>